[submodule "taikotools"]
	path = taikotools
	url = https://github.com/mariodon/taikotools
[submodule "Kuriimu2"]
	path = Kuriimu2
	url = https://github.com/FanTranslatorsInternational/Kuriimu2.git
[submodule "PSVita-RE-tools"]
	path = PSVita-RE-tools
	url = https://github.com/CelesteBlue-dev/PSVita-RE-tools.git
